.container {
    position: relative;
}

.header {
    // @extend %blue-bg;
    text-align: center;
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);

    &__subtitle {
        display: block;
        margin: 0 auto;
        color: $color-white;
        font-family: $font-helvetica-roman;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.48px;
        margin-bottom: 30px;
    }

    &__title {
        color: $color-white;
        font-family: $font-helvetica-bold;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    &__btn {
        display: inline-block;
        font-size: 13px;
        font-family: $font-helvetica-bold;
        color: $color-white;
        width: 270px;
        height: 54px;
        line-height: 54px;
        text-align: center;
        border-radius: 40px;
        background-color: $color-yellow;
        margin: 0 auto;
        margin-bottom: 30px;
        transition: all .2s linear;

        &:hover {
            background-color: $color-white;
            color: $color-yellow;
            box-shadow: 0px 0px 0px 2px #fcbf2c;
        }
    }

    &__img {
        margin: 0 auto;

        &-kids {
            display: inline-block;
            width: 270px;
            height: 111px;
            margin: 0 auto;
        }
    }
}

.nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 50px;

    &__list {
        display: none;
    }
}

.logo__icon {
    display: inline-block;
    width: 83px;
    height: 22px;
}


// ANIMATION BG

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    /*Fix for safari gap*/
    min-height: 30px;
    max-height: 30px;

    &__block {
        margin-top: -10px;
    }
}

.content {
    position: relative;
    height: 20vh;
    text-align: center;
    background-color: white;
}

/* Animation */

.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

// END ANIMATION BG

@media (min-width: 768px) {
    .nav {
        height: 130px;
        margin-bottom: 55px;

        &__list {
            display: flex;
            width: 400px;
            justify-content: space-between;

            &-link {
                color: $color-white;
                font-family: $font-helvetica-medium;
                font-size: 15px;
                letter-spacing: 0.75px;
                transition: color 0.2s linear;

                &:hover {
                    color: $color-yellow;
                    border-bottom: $color-yellow 1px solid;
                }
            }
        }
    }

    .logo__icon {
        width: 110px;
        height: 29px;
    }

    .header {
        text-align: center;


        &__subtitle {
            font-size: 20px;
            margin-bottom: 45px;
        }

        &__title {
            font-size: 35px;
            line-height: 1.2;
            margin: 0 auto;
            margin-bottom: 45px;
        }

        &__btn {
            margin-bottom: 40px;
        }

        &__img-kids {
            width: 672px;
            height: 278px;
        }
    }

    .waves {
        min-height: 100px;
        max-height: 100px;
    }
}


@media (min-width: 1440px) {

    .header {
        text-align: center;


        &__subtitle {
            font-size: 36px;
            width: 100%;
            margin-bottom: 45px;
        }

        &__title {
            font-size: 70px;
            line-height: 1.2;
            margin: 0 auto;
            margin-bottom: 70px;
        }

        &__btn {
            margin-bottom: 0;
        }

        &__img-kids {
            width: 1420px;
            height: 588px;
        }
    }


    .logo__icon {
        width: 188px;
        height: 49px;
    }

    .nav {
        height: 160px;
        margin-bottom: 90px;

        &__list {
            width: 620px;

            &-link {
                font-size: 23px;
            }
        }
    }

    .waves {
        min-height: 150px;
        max-height: 150px;

        &__block {
            margin-top: -100px;
        }
    }
}