// Hevetica Roman
@font-face {
    font-family: 'HelveticaN-Roman';
    font-weight: normal;
    font-style: normal;
    src: local('HelveticaNeueCyr-Roman'),
        url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Roman.woff2') format('woff2');
}

// Helvetica Middle
@font-face {
    font-family: 'HelveticaN-Medium';
    font-weight: 500;
    font-style: normal;
    src: local('HelveticaNeueCyr-Medium'),
        url('../fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Medium.woff2') format('woff2');
}

// Helvetica Bold
@font-face {
    font-family: 'HelveticaN-Bold';
    font-weight: 700;
    font-style: normal;
    src: local('HelveticaNeueCyr-Bold'),
        url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Bold.woff2') format('woff2');
}

// Helvetica Black
@font-face {
    font-family: 'HelveticaN-Black';
    font-weight: 900;
    font-style: normal;
    src: local('HelveticaNeueCyr-Black'),
        url('../fonts/HelveticaNeueCyr-Black.woff') format('woff'),
        url('../fonts/HelveticaNeueCyr-Black.woff2') format('woff2');
}

// Marck-script-regular
@font-face {
    font-family: 'Marck-Script';
    font-style: normal;
    font-weight: 400;
    src: local('Marck Script'), local('MarckScript-Regular'),
        url('../fonts/MarckScript-Regular.woff') format('woff'),
        url('../fonts/MarckScript-Regular.woff2') format('woff2');
}

// Mistral
@font-face {
    font-family: 'Mistral';
    font-style: normal;
    font-weight: 400;
    src: local('Mistral'),
        url('../fonts/Mistral.woff') format('woff'),
        url('../fonts/Mistral.woff2') format('woff2');
}

// Oswald-700
@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/Oswald-Bold.woff') format('woff'),
        url('../fonts/Oswald-Bold.woff2') format('woff2');
}