// Fonts
$font-helvetica-roman: "HelveticaN-Roman";
$font-helvetica-medium: "HelveticaN-Medium";
$font-helvetica-bold: "HelveticaN-Bold";
$font-helvetica-black: "HelveticaN-Black";
$font-marcscript: "Marck-Script";
$font-mistral: "Mistral";
$font-oswald: "Oswald";

// Colors
$color-white: #fff;
$color-yellow: #fcbf2c;
$color-grey: #6b6f7a;
$color-dark-grey: #282828;
$color-light-grey: #e9e9f3;
$color-blue: #4f7df0;